<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>
</head>

<body ng-app="sportsMatchApp">

<div ng-controller="SportsMatchController" class="container">

    <button ng-click="onClickPopulateDb()">Populate DB</button>

    <br/>
    <br/>

    <table style="float: left">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Win</th>
            <th>Draw</th>
            <th>Lose</th>
        </tr>
        <tr ng-repeat="sportsMatch in matches">
            <td>{{sportsMatch.name}}</td>
            <td>{{sportsMatch.type}}</td>
            <td>
                <button ng-click="placeWinBet(sportsMatch)">{{sportsMatch.win}}</button>
            </td>
            <td>
                <button ng-click="placeDrawBet(sportsMatch)">{{sportsMatch.draw}}</button>
            </td>
            <td>
                <button ng-click="placeLoseBet(sportsMatch)">{{sportsMatch.lose}}</button>
            </td>
        </tr>
    </table>

    <fieldset ng-show="bet" style="display: inline-block;">
        <table>
            <thead>
            <tr>
                <th colspan="4">Betting Slip</th>

            </tr>
            </thead>

            <tfoot>
            <tr>
                <td colspan="4" style="text-align:center;">
                    <button ng-click="onClickPlaceBet(bet)">Place bet</button>
                </td>
            </tr>
            </tfoot>

            <tbody>
            <tr>
                <td>
                    {{bet.sportsMatchName}}
                </td>
                <td>
                    {{bet.betType}}
                </td>
                <td>
                    {{bet.amount}} USD
                </td>
                <td>
                    {{bet.coefficient}}
                </td>
            </tr>
            </tbody>


        </table>

    </fieldset>


</div>


<script src="/webjars/angularjs/1.4.4/angular.min.js" type="text/javascript"></script>
<script src="/webjars/sockjs-client/1.0.2/sockjs.min.js" type="text/javascript"></script>
<script src="/webjars/stomp-websocket/2.3.3/stomp.min.js" type="text/javascript"></script>
<script src="/webjars/underscorejs/1.8.3/underscore-min.js" type="text/javascript"></script>
<script src="/app/app.js" type="text/javascript"></script>
<script src="/app/controllers.js" type="text/javascript"></script>
<script src="/app/services.js" type="text/javascript"></script>

</body>
</html>